In [45]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key
  # Make request and get the JSON data from the search.
import json
import gmaps

In [29]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Country,Date
0,0,Kodiak,57.79,-152.41,19.40,48,20,38.21,few clouds,0.00,0.0,US,2020-02-22 06:23:01
1,1,Vaini,-21.20,-175.20,80.60,78,75,13.87,smoke,0.00,0.0,TO,2020-02-22 06:26:40
2,2,Port Alfred,-33.59,26.89,69.01,90,96,5.01,light rain,0.19,0.0,ZA,2020-02-22 06:26:42
3,3,Busselton,-33.65,115.33,81.00,40,100,9.24,overcast clouds,0.00,0.0,AU,2020-02-22 06:26:47
4,4,Punta Arenas,-53.15,-70.92,53.60,81,79,14.99,broken clouds,0.00,0.0,CL,2020-02-22 06:25:06

In [117]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_amount = input("Do you want it to be raining? (yes/no) ")
snow_amount = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 35
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [118]:
# Filter the dataset to find the cities that fit the criteria.
if rain_amount == "no" and snow_amount == "no":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain inches (last 3 hrs)"] == 0) &
                                        (city_data_df["Snow inches (last 3 hrs)"] == 0)]

elif rain_amount == "no" and snow_amount == "yes":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain inches (last 3 hrs)"] == 0) &
                                        (city_data_df["Snow inches (last 3 hrs)"] > 0.0)]
elif rain_amount == "yes" and snow_amount == "yes":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain inches (last 3 hrs)"] > 0) &
                                        (city_data_df["Snow inches (last 3 hrs)"] > 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
        preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain inches (last 3 hrs)"] > 0) &
                                        (city_data_df["Snow inches (last 3 hrs)"] == 0.0)]


preferred_cities_df.head(20)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Country,Date
9,9,Saint Anthony,45.02,-93.22,25.00,85,1,4.70,clear sky,0.0,0.0,US,2020-02-22 06:27:00
15,15,Glendive,47.11,-104.71,33.80,74,1,12.75,clear sky,0.0,0.0,US,2020-02-22 06:27:38
22,22,Albany,42.60,-73.97,26.60,42,1,8.05,clear sky,0.0,0.0,US,2020-02-22 06:27:45
40,40,Krasnogorsk,55.82,37.32,34.00,80,83,8.95,broken clouds,0.0,0.0,RU,2020-02-22 06:28:00
41,41,Obodivka,48.41,29.25,30.00,87,16,3.20,few clouds,0.0,0.0,UA,2020-02-22 06:28:01
50,50,Yeniseysk,58.45,92.17,25.72,89,97,2.13,overcast clouds,0.0,0.0,RU,2020-02-22 06:28:10
60,60,Palmer,42.16,-72.33,27.00,49,1,6.93,clear sky,0.0,0.0,US,2020-02-22 06:28:22
72,72,Bethel,41.37,-73.41,32.00,42,1,5.82,clear sky,0.0,0.0,US,2020-02-22 06:28:36
74,74,Wheeling,42.14,-87.93,30.99,54,1,14.99,clear sky,0.0,0.0,US,2020-02-22 06:28:40
79,79,Karakol,42.49,78.39,34.74,94,91,1.41,overcast clouds,0.0,0.0,KG,2020-02-22 06:28:46
80,80,Jamestown,42.10,-79.24,30.20,53,1,16.11,clear sky,0.0,0.0,US,2020-02-22 06:28:47
82,82,Vardo,70.37,31.11,33.15,84,97,33.46,overcast clouds,0.0,0.0,NO,2020-02-22 06:28:49
86,86,Westport,41.14,-73.36,34.00,42,1,8.05,clear sky,0.0,0.0,US,2020-02-22 06:28:54
92,92,Grindavik,63.84,-22.43,32.00,77,40,17.22,scattered clouds,0.0,0.0,IS,2020-02-22 06:29:00
103,103,Miles City,46.41,-105.84,33.01,55,1,8.05,clear sky,0.0,0.0,US,2020-02-22 06:29:11
109,109,Smithers,54.78,-127.17,32.00,87,90,2.24,overcast clouds,0.0,0.0,CA,2020-02-22 06:27:49
114,114,Huntsville,34.73,-86.59,32.00,68,1,4.70,clear sky,0.0,0.0,US,2020-02-22 06:24:56
131,131,Port-Cartier,50.03,-66.87,21.20,79,90,5.82,light snow,0.0,0.0,CA,2020-02-22 06:27:08
134,134,Berlevag,70.86,29.09,34.47,79,100,39.46,overcast clouds,0.0,0.0,NO,2020-02-22 06:29:42
138,138,Aktash,50.30,87.73,28.00,92,100,1.79,overcast clouds,0.0,0.0,RU,2020-02-22 06:29:46

In [119]:
preferred_cities_df.count()

City_ID                     81
City                        81
Lat                         81
Lng                         81
Max Temp                    81
Humidity                    81
Cloudiness                  81
Wind Speed                  81
Description                 81
Rain inches (last 3 hrs)    81
Snow inches (last 3 hrs)    81
Country                     81
Date                        81
dtype: int64

In [120]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Description    Lat     Lng Hotel Name
9   Saint Anthony      US     25.00        clear sky  45.02  -93.22
15       Glendive      US     33.80        clear sky  47.11 -104.71
22         Albany      US     26.60        clear sky  42.60  -73.97
40    Krasnogorsk      RU     34.00    broken clouds  55.82   37.32
41       Obodivka      UA     30.00       few clouds  48.41   29.25
50      Yeniseysk      RU     25.72  overcast clouds  58.45   92.17
60         Palmer      US     27.00        clear sky  42.16  -72.33
72         Bethel      US     32.00        clear sky  41.37  -73.41
74       Wheeling      US     30.99        clear sky  42.14  -87.93
79        Karakol      KG     34.74  overcast clouds  42.49   78.39

In [121]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [122]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
        
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("success")
    except IndexError as e:
        print(e)

success
success
list index out of range
success
list index out of range
success
success
success
success
success
success
success
success
success
success
success
success
success
success
list index out of range
success
list index out of range
success
success
success
success
success
success
list index out of range
success
list index out of range
list index out of range
list index out of range
success
success
list index out of range
success
success
success
success
success
success
success
success
success
list index out of range
success
success
list index out of range
success
success
success
success
success
success
list index out of range
success
success
success
success
success
success
success
list index out of range
success
success
success
list index out of range
success
success
success
success
success
success
success
success
success
list index out of range
success
success
success

In [105]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Punta Arenas,CL,53.60,broken clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
6,Lebu,CL,49.96,clear sky,-37.62,-73.65,Hostal Las Lilas
9,Saint Anthony,US,25.00,clear sky,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
14,Bluff,NZ,55.00,few clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
15,Glendive,US,33.80,clear sky,47.11,-104.71,Super 8 by Wyndham Glendive
...,...,...,...,...,...,...,...
534,Bereda,ES,46.99,fog,43.27,-7.54,Pazo de Verdes
535,Barbastro,ES,43.00,clear sky,42.04,0.13,Hotel San Ramón del Somontano
536,Shepetivka,UA,32.79,scattered clouds,50.19,27.06,Turhenyev
544,Rincon,US,37.00,clear sky,32.30,-81.24,Bent tree subdivision
551,Jiayuguan,CN,47.01,clear sky,39.82,98.30,Jiugang Hotel - Jiayuguan

In [123]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [124]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather Description</dt><dd>{Description}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [125]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")